.jumbotron .session_1 .container_item {
    padding: 20px 100px 20px 50px;

    width: 100%;

    display: block;
    z-index: 1;
}

.jumbotron .session_1 .container_item .item_body {
    padding-bottom: 20px;
}

.jumbotron .session_1 .container_item .item_body .item_title {
    margin-bottom: 25px;

    color: #D83953;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: scaleY(2);
}

.jumbotron .session_1 .container_item .item_body .item_subtitle {
    margin-bottom: 15px;

    font-size: 14px;
}

.jumbotron .session_1 .container_item .item_body .item_description {
    font-size: 14px;
}

.jumbotron .session_1 .container_item .item_footer {
    margin-top: 50px;
}

.jumbotron .session_1 .container_item .item_footer .item_button {
    padding: 18px 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    border: none;
    background-color: #D83953;

    transition: 0.2s;
    cursor: pointer;
}

.container_item .item_footer .item_button:hover {
    box-shadow: 3px 3px 25px #D83953;
}