.product_card {
    margin: 30px 20px;

    width: 300px;
    height: 500px;

    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 250px 210px 40px;
    grid-template-areas: 
    "card-header"
    "card-body"
    "card-footer"
    ;

    color: black;
    background-color: white;
    box-shadow:  0 0 50px #000000;
    border-radius: 10px;
}

.product_card .card_header {
    grid-area: card-header;
}

.product_card .card_header .header_img {
    height: 200px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-radius: 10px 10px 0px 0px;
}

.product_card .card_header .header_title {
    height: 50px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;

    background-color: #1b1b1b;
}

.product_card .card_body {
    padding: 30px 0px;

    position: relative;
    display: flex;
    grid-area: card-body;
    align-items: center;
    flex-direction: column;
}

.product_card .card_body .body_price {
    color: #D83953;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    letter-spacing: 0.5px;
    transform: scaleY(1.5);
}

.product_card .card_body .body_title {
    margin: 12px 0px;

    color: #333;
}

.product_card .card_body .body_platforms {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.product_card .card_body .body_platforms .platform_item {
    padding: 8px;

    border-radius: 10px; 
    border: 3px solid black;
}

.product_card .card_footer {
    grid-area: card-footer;
}

.product_card .card_footer .footer_button {
    width: 100%;
    height: 100%;

    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    background-color: #D83953;

    border: none;
    border-radius: 0px 0px 10px 10px;

    cursor: pointer;
    transition: 0.2s;
}

.product_card .card_footer .footer_button:hover {
    box-shadow: 3px 3px 25px #D83953;
}