@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.HomePage{
    width: 100%;
    
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.2;

    overflow-y: auto;
}

/* Início do cabeçalho */
    .jumbotron {
        height: 700px;
        
        position: relative;
        display: grid;
        grid-template-columns: 650px auto;
        grid-template-rows: 700px;
        grid-template-areas: 'sessionleft sessionright';

        background-image: url("../../assets/homePage_images/img1.jpg");
        background-repeat: no-repeat;
        background-size: 100%100%;
    }

    .jumbotron .item_blur {
        width: 100%;
        height: 100%;

        position: absolute;

        background-image: url("../../assets/homePage_images/img1.jpg");
        background-repeat: no-repeat;
        background-size: 100%100%;

        filter: blur(4px);
        clip-path: polygon(0 0, 650px 0, 552.5px 100%, 0% 100%);
    }

    /* Início da sessão 1 */
    .jumbotron .session_1 {
        position: relative;
        display: flex;
        align-items: center;
        grid-area: sessionleft;

        background-image: linear-gradient(to right, rgba(27, 27, 27, 1), rgba(27, 27, 27, 0.9),  rgba(27, 27, 27, 0.7), rgba(27, 27, 27, 0.5));

        clip-path: polygon(0 0, 650px 0, 552.5px 100%, 0% 100%);
    }
    /* Fim da sessão 1 */

    /* Início da sessão 2 */
    .jumbotron .session_2 {
        grid-area: sessionright;
    }
    /* Fim da sessão 2 */

/* Fim do cabeçalho */

/* Início do container 1 */
    .container {
        padding: 50px;
        background-color: #1b1b1b;
    }

    .container h1 {
        font-family: 'Nunito', sans-serif;
        font-size: 25px;
        text-transform: uppercase;
        transform: scaleY(2);
        letter-spacing: 2px;
    }

    .container .products {
        margin-top: 50px;

        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
/* Fim do container 1 */




@media only screen and (max-width: 1200px) {
    .jumbotron {
        background-size: cover;
        background-position: center;
    }

    .jumbotron .item_blur {
        background-size: cover;
        background-position: center;
    }
}

@media only screen and (max-width: calc(650px + 70px)) {
    .jumbotron {
        grid-template-columns: auto;
        grid-template-rows: 700px;
        grid-template-areas: 'sessionleft';
    }

    .jumbotron .item_blur {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    /* Início da sessão 1 */
        .jumbotron .session_1 {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        .jumbotron .session_1 .container_item {
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
    /* Fim da sessão 1 */

    /* Início da sessão 2 */
        .jumbotron .session_2 {
            display: none;
        }
    /* Fim da sessão 2 */

    /* Início do container 1 */
        .container h1 {
            text-align: center;
        }
    /* Fim do container 1 */
}

@media only screen and (max-width: 500px) {
    .jumbotron {
        height: 500px;

        grid-template-rows: 500px;
    }
    .jumbotron .session_1 .container_item {
        padding: 20px 20px;
    }
    .jumbotron .session_1 .container_item .item_body .item_title {
        font-size: 18px;
    }
    .jumbotron .session_1 .container_item .item_body .item_subtitle {
        font-size: 12px;
    }
    .jumbotron .session_1 .container_item .item_body .item_description {
        font-size: 12px;
    }

    .jumbotron .session_1 .container_item .item_footer {
        margin-top: 20px;
    }
    .jumbotron .session_1 .container_item .item_footer .item_button {
        font-size: 10px;

        padding: 12px 15px;
    }
}