@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.HomePage{
    padding: 0px;
    margin: 0;
    width: 100%;
    height: 100%;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: white;

    overflow-y: auto;
    overflow-x: hidden;
}

/* Cabeçalho */
.jumbotron {
    height: 700px;
    width: 100%;

    display: grid;
    grid-template-columns: 650px auto;
    grid-template-rows: 700px;
    grid-template-areas: 'sessionleft sessionright';
    position: relative;

    background-image: url("../../assets/homePage_images/gtav.jpg");
    background-repeat: no-repeat;
    background-size: 100%100%;
}

.jumbotron .item_blur {
    width: calc(100vw - 70px);
    height: 100%;

    position: absolute;

    filter: blur(4px);
    clip-path: polygon(0 0, 650px 0, 552.5px 100%, 0% 100%);

    background-image: url("../../assets/homePage_images/gtav.jpg");
    background-repeat: no-repeat;
    background-size: 100%100%;
}

/* Início Sessão 1 */
.jumbotron .session_1 {
    grid-area: sessionleft;

    display: flex;
    align-items: center;
    position: relative;

    background-image: linear-gradient(to right, rgba(27, 27, 27, 1), rgba(27, 27, 27, 0.9),  rgba(27, 27, 27, 0.7), rgba(27, 27, 27, 0.5));

    clip-path: polygon(0 0, 650px 0, 552.5px 100%, 0% 100%);
}

.jumbotron .session_1 .container_item {
    padding: 20px 100px 20px 50px;
    width: 100%;

    display: block;
    z-index: 1;
}

.jumbotron .session_1 .container_item .item_body {
    padding-bottom: 20px;
}

.jumbotron .session_1 .container_item .item_body .item_title {
    margin-bottom: 25px;
    
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    color: #D83953;

    text-transform: uppercase;
    transform: scaleY(2);
    letter-spacing: 2px;
}

.jumbotron .session_1 .container_item .item_body .item_subtitle {
    margin-bottom: 15px;

    font-size: 14px;
}

.jumbotron .session_1 .container_item .item_body .item_description {
    font-size: 14px;
}

.jumbotron .session_1 .container_item .item_footer {
    margin-top: 50px;
}

.jumbotron .session_1 .container_item .item_footer .item_button {
    padding: 18px 35px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    border: none;
    background-color: #D83953;

    transition: 0.2s;
    cursor: pointer;
}

.jumbotron .session_1 .container_item .item_footer .item_button:hover {
    box-shadow: 3px 3px 25px #D83953;
}
/* Fim Sessão 1 */

/* Início Sessão 2 */
.jumbotron .session_2 {
    grid-area: sessionright;
}
/* Fim Sessão 2 */




@media only screen and (max-width: 1200px) {
    .jumbotron {
        background-size: cover;
        background-position: center;
    }

    .jumbotron .item_blur {
        background-size: cover;
        background-position: center;
    }
}

@media only screen and (max-width: calc(650px + 70px)) {
    .jumbotron {
        grid-template-columns: auto;
        grid-template-rows: 700px;
        grid-template-areas: 'sessionleft';
    }

    .jumbotron .item_blur {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    /* Início Sessão 1 */
    .jumbotron .session_1 {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .jumbotron .session_1 .container_item {
        padding: 20px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    /* Fim Sessão 1 */

    /* Início Sessão 2 */
    .jumbotron .session_2 {
        display: none;
    }
    /* Fim Sessão 2 */
}

@media only screen and (max-width: 500px) {
    .jumbotron {
        height: 500px;

        grid-template-rows: 500px;
    }
    .jumbotron .session_1 .container_item {
        padding: 20px 20px;
    }
    .jumbotron .session_1 .container_item .item_body .item_title {
        font-size: 18px;
    }
    .jumbotron .session_1 .container_item .item_body .item_subtitle {
        font-size: 12px;
    }
    .jumbotron .session_1 .container_item .item_body .item_description {
        font-size: 12px;
    }

    .jumbotron .session_1 .container_item .item_footer {
        margin-top: 20px;
    }
    .jumbotron .session_1 .container_item .item_footer .item_button {
        font-size: 10px;

        padding: 12px 15px;
    }
}