.selectedItem {
    height: 100%;
    width: 300px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.item {
    height: 80%;
    width: 250px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;

    margin-left: 50px;
}